;;; AWS IAM credentials for kulu-dev user:
;;; https://console.aws.amazon.com/iam/home?region=us-east-1#users/dev-kulu-admin
{:aws {:creds {:access-key "ACCESS_KEY"
               :secret-key "SECRET_KEY"}}}
{:mailgun {:user "api"
           :password "MAILGUN_KEY"}}
{:web-client-name "WEB_CLIENT_NAME"}
