<div class="page__container">

  <header class="header">
    <div class="header__content">
      <div class="header__logo-wrapper">
        <a class="header__logo" href="/" title="Kulu"></a>
      </div>
      <nav class="header__nav">
        <ul class="header__nav__list">
          <li>
            <a href="/pricing/" alt="Helpshift plans start at $0/month" title="Pricing">Pricing</a>
          </li>
          <li>
            <a href="/features/" alt="Everything you need to listen to, communicate with, and delight your customers" title="Features">Features</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="section section--main">
    <div class="section__content">
      <h1 class="page__heading">focus on growth, not expenses</h1>

      <h4 class="page__subheading font--body">Get improved engagement, higher retention, feedback, and better reviews in <em>one simple SDK</em>.</h4>

      <div class="ms">
        <div class="ms__content">
          <div class="cta cta--ms">
            <div class="cta__form">
              <form class="js--email-form" action="javascript: void(0);" data-source="home-cta" novalidate="novalidate">
                <div class="form__field">
                  <input id="ms--email" class="email-input" type="email" name="email" placeholder="Email Address">
                  <span class="spinner"></span>
                </div>

                <input type="hidden" name="visitor_id" class="js--pid" autocapitalize="off" value="">

                <input type="hidden" name="_csrf_token" autocapitalize="off" value="lTEU6GS5Ti3Q2Aws396UEY-NLceL9zETSrvUSbGcbHI">

                <div class="button-wrapper">
                  <a class="button js--schedule-demo-btn" target="_blank" href="http://www2.helpshift.com/demo/schedule" alt="Request a Demo and find out how you can start using Kulu." title="Request a Demo">Request a Demo</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="cuslo">
        <div class="cuslo__content">
          <h5 class="title">Our current set of beta customer already using Kulu</h5>
          <ul class="cuslo__list">
            <li class="flipboard">
              <span>Chinita</span>
            </li>
            <li class="supercell">
              <span>Nilenso</span>
            </li>
            <li class="circa">
              <span>Quintype</span>
            </li>
            <li class="target">
              <span>Themis</span>
            </li>
            <li class="microsoft">
              <span>Codemancers</span>
            </li>
            <li class="glu">
              <span>Mapbox</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="section section--inner section--flow">
    <h3 class="section__title">how it works</h3>
    <div class="section__content">
      <ul class="flow">
        <li class="integrate">
          <span class="icon"></span>
          <span class="label">click a picture of the receipt</span>
        </li>
        <li class="invite">
          <span class="icon"></span>
          <span class="label">forward digital receipts</span>
        </li>
        <li class="help">
          <span class="icon"></span>
          <span class="label">upload from computer</span>
        </li>
        <li class="chat">
          <span class="icon"></span>
          <span class="label">kulu automatically processes your receipts</span>
        </li>
        <li class="retain">
          <span class="icon"></span>
          <span class="label">make better decisions based on real-time data</span>
        </li>
      </ul>
    </div>
  </div>


  <div class="sections-wrapper"><div id="in-app" class="section section--inner section--feature section--in-app">
    <h2 class="section__title">Everything you need to listen to, communicate with and retain your users</h2>

    <div class="section__content js--tour-content" style="display: block;">
      <div class="feature">
        <div class="feature__content feature__content--main" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
          <h2 class="title">Easy in-app help desk and more</h2>
          <p class="description">Improve customer experience, drive higher ratings, and increase retention.</p>
        </div>

        <div class="feature__content feature__content--alt" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
          <div class="ft">
            <span class="ft__mark">“</span>
            <h3 class="ft__quote">We've absolutely loved Helpshift here at Circa. It's been an MVP in our new release.</h3>
            <div class="ft__footer">
              <div class="ft__avatar"></div>
              <div class="ft__info">
                <strong class="name">Matt Galligan</strong>
                <p class="role">CEO &amp; Co-founder, Circa</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div id="faq" class="section section--inner  section--feature section--faq">
      <div class="section__content">
        <div class="feature">
          <div class="feature__content feature__content--main" style="opacity: 0.5; transform: matrix(1, 0, 0, 1, 0, 200);">
            <h2 class="title">Help your users to help themselves with in-app FAQs</h2>
            <p class="description">Helpshift's native, searchable FAQs allow users to find answers they're looking for, without ever contacting your support team.</p>
          </div>

          <div class="feature__content feature__content--alt" style="opacity: 0.5; transform: matrix(1, 0, 0, 1, 0, 200);">
            <div class="ft">
              <span class="ft__mark">“</span>
              <h3 class="ft__quote">Helpshift FAQ's contributed to 50% in ticket reduction and cut our FTE costs by $125K.</h3>
              <div class="ft__footer">
                <div class="ft__avatar ft__avatar--al"></div>
                <div class="ft__info">
                  <strong class="name">Aaron Lapierre</strong>
                  <p class="role">Director of Customer Success, DoubleDutch</p>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="fs fs--faq">
          <div class="fs__img-wrapper"></div>
        </div>
      </div>
    </div>

    <div id="messaging" class="section section--inner section--feature section--messaging">
      <div class="section__content">
        <div class="feature">
          <div class="feature__content feature__content--main" style="opacity: 0.5; transform: matrix(1, 0, 0, 1, 0, 200);">
            <h2 class="title">Simple and intuitive in-app messaging</h2>
            <p class="description">Don't push your users out of your app for feedback and support.</p>
          </div>

          <div class="feature__content feature__content--alt" style="opacity: 0.5; transform: matrix(1, 0, 0, 1, 0, 200);">
            <div class="ft">
              <span class="ft__mark">“</span>
              <h3 class="ft__quote">People don't seem to enjoy emailing very much. I knew that we would get more feedback if reaching out to us felt like iMessage.</h3>
              <div class="ft__footer">
                <div class="ft__avatar ft__avatar--tm"></div>
                <div class="ft__info">
                  <strong class="name">Tyler Martin</strong>
                  <p class="role">Founder, Turf.ly</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="fs fs--messaging">
          <div class="fs__img-wrapper"></div>
        </div>
      </div>
    </div>


    <div id="reviews" class="section section--inner section--feature section--reviews">
      <div class="section__content">
        <div class="feature">
          <div class="feature__content feature__content--main" style="opacity: 0.5; transform: matrix(1, 0, 0, 1, 0, 200);">
            <h2 class="title">Turn customer loyalty into higher App Store ratings</h2>
            <p class="description">Identify loyal customers and prompt them for 5-star reviews to the app stores and route unhappy customers to providing feedback in-app.</p>
          </div>

          <div class="feature__content feature__content--alt" style="opacity: 0.5; transform: matrix(1, 0, 0, 1, 0, 200);">
            <div class="ft">
              <span class="ft__mark">“</span>
              <h3 class="ft__quote">Helpshift is our secret weapon. It allows us to keep our star ratings really high.</h3>
              <div class="ft__footer">
                <div class="ft__avatar ft__avatar--om"></div>
                <div class="ft__info">
                  <strong class="name">Oliver Miao</strong>
                  <p class="role">CEO, Pixelberry Studios</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="fs fs--reviews">
          <div class="fs__img-wrapper"></div>
        </div>
      </div>
    </div>


    <div id="dash" class="section section--inner section--feature section--dash">
      <h2 class="section__title">Powerful tools to improve support efficiency and reduce costs</h2>

      <div class="section__content js--tour-content" style="display: block;">
        <div class="feature" data-img-class="issues">
          <div class="feature__content feature__content--main">
            <h3 class="title">Fast, real-time dashboard</h3>
            <p class="description">Reply to feedback and support tickets from a central dashboard.</p>

            <p class="description"></p>
          </div>
        </div>

        <div class="feature" data-img-class="device-data">
          <div class="feature__content feature__content--main">
            <h3 class="title">Increase agent efficiency with 70% faster resolution times</h3>
            <p class="description">Automatically track real-time user device and diagnostic data.</p>
          </div>
        </div>

        <div class="feature feature--analytics" data-img-class="analytics">
          <div class="feature__content feature__content--main">
            <h3 class="title">Advanced Analytics &amp; Reporting</h3>
            <p class="description">Get insights into team performance, contact rate, resolution times and ticket deflection.</p>
          </div>
        </div>

        <div class="scrollmagic-pin-spacer" style="display: block; top: 0px; left: auto; bottom: auto; right: 0px; position: absolute; margin-left: auto; margin-right: auto; box-sizing: content-box; width: 66.6666717529297%;"><div class="fs fs--dash" style="position: absolute; top: 0px; left: 0px; bottom: auto; right: auto; box-sizing: border-box;">
          <div class="fs__img-wrapper js--dash-img-parent">
            <div class="fs__img js--dash-img img-issues" data-ratio="830:432" data-min-width="800" data-min-height="417" style="opacity: 0.25; transform: matrix(0.92, 0, 0, 0.92, 0, 160);">
              <div class="browser-frame"></div>
              <div class="fs__video-wrapper fs__video-wrapper-dash js--video-wrapper" data-ratio="830:432" data-position="0 0 0 0">
                <div id="wistia_0auabuhkpv" class="fs__video fs__video--dash js--wistia-container">&nbsp;</div>
              </div>
            </div>
          </div>
        </div></div>
      </div>
    </div>


    <div class="section section--inner section--platforms section--highlight">
      <div class="section__content">
        <h4 class="platforms__title">Supported Platforms</h4>
        <ul class="platforms__list ll-bg-delegate" data-selector="a" data-path="logos/platforms{@2x}.png">
          <li class="ios">
            <a href="https://developers.helpshift.com/ios/getting-started/" target="_blank" title="Helpshift SDK for iOS">iOS</a>
          </li>
          <li class="android">
            <a href="https://developers.helpshift.com/android/getting-started/" target="_blank" title="Helpshift SDK for Android">Android</a>
          </li>
          <li class="html5">
            <a href="https://developers.helpshift.com/web-support/overview/" target="_blank" title="Web Support using Helphift">HTML5</a>
          </li>
          <li class="unity">
            <a href="https://developers.helpshift.com/unity/getting-started-ios/" target="_blank" title="Helphift SDK for Unity">Unity</a>
          </li>
          <li class="phonegap">
            <a href="https://developers.helpshift.com/phonegap/getting-started-ios/" target="_blank" title="Helphift SDK for PhoneGap">PhoneGap</a>
          </li>
          <li class="cocos2dx">
            <a href="https://developers.helpshift.com/cocos2d-x/getting-started-ios/" target="_blank" title="Helphift SDK for Cocos2d-x">Cocos2d-x</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="section section--inner section--platforms-support">
      <h2 class="section__title with-description">Don't get stuck in the <strong>desk</strong> era</h2>
      <h4 class="section__description">Say goodbye to your legacy support tool. Get in-app, email and web support all in one platform.</h4>

      <div class="section__content sp">
        <ul class="sp__list">
          <li class="in-app">
        <span class="icon-wrapper">
          <span class="icon"></span>
        </span>
            <h4 class="label">In-app Support</h4>
          </li>

          <li class="email">
        <span class="icon-wrapper">
          <span class="icon"></span>
        </span>
            <h4 class="label">Email Support</h4>
          </li>

          <li class="web">
        <span class="icon-wrapper">
          <span class="icon"></span>
        </span>
            <h4 class="label">Web Support</h4>
          </li>
        </ul>
      </div>
    </div>

    <div class="section section--inner section--cta">
      <div class="section__content">
        <h2 class="section__title">Top Apps Trust Helpshift to Retain Users</h2>
        <p class="section__description">Simply integrate the lightweight Helpshift SDK in 15 minutes. <br>No credit card required. It's really that easy.</p>
        <div class="cta cta--footer">
          <div class="cta__form">
            <form class="js--email-form" action="javascript: void(0);" data-source="footer-cta" novalidate="">
              <div class="form__field">
                <input id="ft--email" class="email-input" name="email" type="email" placeholder="Email Address">
                <span class="spinner"></span>
              </div>
              <input type="hidden" name="_csrf_token" autocapitalize="off" value="lTEU6GS5Ti3Q2Aws396UEY-NLceL9zETSrvUSbGcbHI">
              <div class="form__field form__field--button">
                <a href="javascript: void(0);" class="button js-getstarted">Get Started for Free</a>
              </div>
            </form>
          </div>
          <div class="cta__demo">
            <div class="divider">or</div>
            <div class="button-wrapper">
              <a class="button js--schedule-demo-btn" href="http://www2.helpshift.com/demo/schedule" target="_blank" alt="Request a Demo and find out how you can start engaging with your users using Helpshift." title="Request a Demo">Request a Demo</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="section section--footer">
    <div class="section__content">
      <div class="footer">
        <div class="footer__content">
          <ul class="footer__list">
            <li class="logo">
              <div class="logo__wrapper">
                <a class="logo__link" href="/" title="Helpshift"></a>
              </div>
              <p class="copyright">Copyright © 2015 <br>Nilenso Software LLP</p>

              <p class="privacy"><a href="/terms/" title="Terms" alt="Terms">Terms</a> &amp; <a href="/privacypolicy/" title="Privacy Policy" alt="Privacy Policy">Privacy Policy</a></p>
            </li>
            <li class="product">
              <h6 class="title">Product</h6>
              <ul class="links links--product">
                <li>
                  <a href="/pricing/" title="Pricing" alt="Helpshift is free forever upto 10,000 MAU">Pricing</a>
                </li>
                <li>
                  <a href="/features/" alt="Everything you need to listen, communicate and delight your customers" title="Features">Features</a>
                </li>
                <li>
                  <a href="/customers/" alt="Helpshift Customer Spotlight - Featured iOS and Android apps, Top Game Apps, Top News Apps, Top Lifestyle Apps" title="Customers">Customers</a>
                </li>
              </ul>
            </li>

            <li class="company">
              <h6 class="title">Company</h6>
              <ul class="links links--company">
                <li>
                  <a href="/about/" alt="About the company" title="About Us">About Us</a>
                </li>
                <li>
                  <a href="/blog/" alt="Helpshift Blog" title="Blog">Blog</a>
                </li>
                <li>
                  <a href="/about/careers/" alt="Join the Helpshift Team" title="Careers">Careers</a>
                </li>
                <li>
                  <a href="/press/" alt="Press" title="Press">Press</a>
                </li>
              </ul>
            </li>

            <li class="support">
              <h6 class="title">Support</h6>
              <ul class="links links--support">
                <li>
                  <a href="//developers.helpshift.com/" target="_blank" alt="Helpshift Developer Guide" title="Developers">Developers</a>
                </li>
                <li>
                  <a href="//support.helpshift.com/" target="_blank" alt="Helpshift Knowledge Base" title="Knowledge Base">Knowledge Base</a>
                </li>
                <li>
                  <a href="/about/contact/" alt="Contact Us at Helpshift" title="Contact Us">Contact Us</a>
                </li>
              </ul>
            </li>

            <li class="connect">
              <h6 class="title">Connect</h6>
              <ul class="links links--connect">
                <li>
                  <a href="//twitter.com/helpshift" class="twitter" target="_blank" rel="nofollow" title="@helpshift">Twitter</a>
                </li>
                <li>
                  <a href="//facebook.com/helpshift" class="facebook" target="_blank" rel="nofollow" title="Facebook">Facebook</a>
                </li>
                <li>
                  <a href="//plus.google.com/106703460579218159322" class="googleplus" target="_blank" rel="publisher" title="Google+">Google+</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
