.admin-panel {
  margin-top: 150px;
}

.admin-form-input {
  width: 400px !important;
}

.admin-form-button {
  height: 43px;
  width: 100px;
  margin-left: 10px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.invite-form {
  margin-top: 25px;

  .controls {
    display: inline-flex;
  }
}

.receipt-icon {
  font-size: 4em;
}

.records {
  .form-inline {
    margin-bottom: 15px;
  }
}

.help-container {
  a {
    border-bottom: 1px dotted;
  }
}

.admin-input {
  margin-right: 10px;
}
