.pagination-per-page {
  font-size: 12px;
  font-weight: 300;
  color: #999999;

  #per-page {
    margin: 5px;
  }
}

.pagination {
  margin: 21px 0 0 0;
}

.container .invoice-details {
  padding-left: 0;
}

.invoice-details-fieldset {
  margin-top: 30px;
}

.invoice-image-container, .invoice-doc-container {
  margin-top: 35px;
}

.invoice-details-label {
  font-size: 20px;
  font-weight: bold;
  font-variant: small-caps;
}

.invoice-expense-type-label {
  margin: 8px;
  display: inline;
  padding: 3px;
  font-size: 17px;
  font-variant: small-caps;
}

.invoice-details-currency {
  width: 100px;
  display: inline-block;
  margin-right: 5px;
}

.invoice-details-expense-type {
  display: inline;
}

.invoice-edit-actions {
  margin-top: 50px;
}

.invoice-edit-delete {
  float: right;
  background-color: #f0f0f0;
  padding: 14px 15px;
  &:hover {
    background-color: #f0f0f0;
    i {
      color: #6e6e6e;
    }
  }
  i {
    font-size: 1.2em;
    color: #8b8b8b;
  }
}

.expense-pager {
  text-align: left;
  margin: 10px 0;
  li {
    margin-right: 10px;
  }
}

.expense-pdf-container {
  canvas {
    display: none;
    border: 1px solid black
  }
  .loading-icon {
    display: block;
    margin: 50% auto;
  }
}

.expenses-nav-btn {
  margin-right: 10px;
}

.well.row {
  padding-top: 80px;
  padding-bottom: 30px;
  background: white;
  border: none;
}

tr.invoice-table-row {
  &:hover {
    cursor: pointer;
  }

  td.amount {
    text-align: right;
  }
}

.expenses-table tbody {
  font-size: 14px;
}

.expenses-table thead.expenses-table-head {
  background: white;

  th {
    border-top: 2px solid #ccc !important;
    border-bottom: 2px solid #ccc;
    color: #666;
    font-size: 11px;
    width: 10%;
    padding-right: 0;
    letter-spacing: 0.2px;

    &.large {
      width: 18% !important;
    }

    &.medium {
      width: 12%;
    }

    &.tiny {
      width: 5%;
    }

    &.amount {
      width: 7%;
      text-align: right;
      padding-right: 8px;
    }

    a.current.asc {
      &:after {
        font-size: 75%;
        font-family: FontAwesome;
        display: inline-block;
        padding-left: 5px;
        content: "\f0de";
        vertical-align: text-top;
        padding-top: 5px;
      }
    }

    a.current.desc {
      &:after {
        font-size: 75%;
        font-family: FontAwesome;
        display: inline-block;
        padding-left: 5px;
        content: "\f0dd";
        vertical-align: text-bottom;
        padding-bottom: 5px;
      }
    }
  }
}

.category-name {
  margin-left: 3px;
  padding: 3px;
  font-size: 12px;
  background-color: #d35400;
  color: white;
  border: 1px solid black;
}

.expense-attachment-container {
  margin-top: 30px;
}

.expense-attachment-metadata {
  background-color: $brand-primary-alpha;
  width: 101%;
  padding: 5px;
  margin-bottom: 5px;
  .name {
    font-weight: bold;
  }

  .separator {
    padding: 0 5px 0 5px;
  }
}

.chosen-container {
  vertical-align: top !important;
}

.invoice-details-amount {
  margin-left: 10px;
}

//
// start customize hint.css
//
.hint:after, [data-hint]:after {
  white-space: normal !important;
  background: #ddd !important;
  color: #000 !important;
  font-size: 16px !important;
  line-height: 18px !important;
  text-shadow: none !important;
  border: 1px solid darkgray !important;
}

.hint--right:before {
  border-right-color: transparent !important;
}

//
// end customize hint.css
//

.visual_search {
  width: 90%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}

.table-info {
  .flush-left {
    float: left;
  }

  .flush-right {
    float: right;
  }

  .export {
    margin: 5px 0 10px 0;
    .export-btn {
      background-color: #ccc;
      font-weight: 500;
      font-size: 0.8em;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding: 5px;
      border-radius: 2px;
      width: 102%;
    }
  }
}

.recorded-stub {
  padding: 10px 10px 10px 0;
  background-color: #d35400;
  .recorded-stub-icon {
    padding: 0 10px 0 10px;
  }
}
