.image-logo {
  vertical-align: middle;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 45px;
  margin-left: 100px;
  display: none;
}

.page-wrap {
  max-width: 430px;
  margin: 150px auto 20px;
  border-radius: 8px;

  .panel {
    background-color: $brand-primary;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);

    h3 {
      padding-left: 40px;
      color: white;
    }

    form {
      padding: 10px 40px 30px 40px;
    }

    input[type=text], input[type=password], input[type=email] {
      display: block;
      width: 100%;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857;
      color: #3f3f44;
      background-color: #fff;
      background-image: none;
      border: 1px solid #cbcbd2;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
      -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      box-shadow: inset 0 1px 2px rgba(203,203,210,0.4),inset 0 0 10px 1000px white;
    }

    input[type=submit] {
      font-weight: normal;
      border-radius: 5px;
      border: none;
      padding-left: 18px;
      padding-right: 18px;
      color: white;

      background-color: #d35400;
    }
  }
}

#form-group {
  input {
    color: rgb(63, 63, 68);
    height: 44px;
    width: 208px;
    perspective-origin: 104px 22px;
    transform-origin: 104px 22px;
    border: 2px inset rgb(63, 63, 68);
    font: normal normal normal normal 14px/19.999979019165px benton-sans, 'Helvetica Neue', helvetica, arial, sans-serif;
    outline: rgb(63, 63, 68) none 0px;
    padding: 7px 7px 7px 50px;
  }
}

