html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden], template {
    display: none;
}

a {
    background: 0 0;
}

a:active, a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b, strong {
    font-weight: 700;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
}

pre {
    overflow: auto;
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled], html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    height: auto;
}

input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: 700;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    padding: 0;
}

.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, .7);
}

textarea[contenteditable] {
    -webkit-appearance: none;
}

.gifhidden {
    position: absolute;
    left: -100%
}

.has-js .js-ir, .ir {
    display: block;
    border: 0;
    text-indent: -999em;
    overflow: hidden;
    background-color: transparent;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr;
}

.has-js .js-ir br, .ir br {
    display: none;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:after, .clearfix:before {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%
}

body {
    min-height: 100%;
    margin: 0 auto;
}

ul {
    padding-left: 0;
    list-style-type: none;
}

dl dd {
    margin-left: 0;
}

img {
    vertical-align: middle;
}

.flushleft {
    float: left;
}

.flushright {
    float: right;
}

.noflush {
    float: none;
}

.clearboth {
    clear: both;
}

.clearleft {
    clear: left;
}

.clearright {
    clear: right;
}

.clearnone {
    clear: none;
}

@media (min-width: 30em) {
    .flushleft-sm {
        float: left;
    }

    .flushright-sm {
        float: right;
    }

    .noflush-sm {
        float: none;
    }

    .clearboth-sm {
        clear: both;
    }

    .clearleft-sm {
        clear: left;
    }

    .clearright-sm {
        clear: right;
    }

    .clearnone-sm {
        clear: none;
    }
}

@media (min-width: 45em) {
    .flushleft-md {
        float: left;
    }

    .flushright-md {
        float: right;
    }

    .noflush-md {
        float: none;
    }

    .clearboth-md {
        clear: both;
    }

    .clearleft-md {
        clear: left;
    }

    .clearright-md {
        clear: right;
    }

    .clearnone-md {
        clear: none;
    }
}

@media (min-width: 60em) {
    .flushleft-lg {
        float: left;
    }

    .flushright-lg {
        float: right;
    }

    .noflush-lg {
        float: none;
    }

    .clearboth-lg {
        clear: both;
    }

    .clearleft-lg {
        clear: left;
    }

    .clearright-lg {
        clear: right;
    }

    .clearnone-lg {
        clear: none;
    }
}

@media (min-width: 80em) {
    .flushleft-xl {
        float: left;
    }

    .flushright-xl {
        float: right;
    }

    .noflush-xl {
        float: none;
    }

    .clearboth-xl {
        clear: both;
    }

    .clearleft-xl {
        clear: left;
    }

    .clearright-xl {
        clear: right;
    }

    .clearnone-xl {
        clear: none;
    }
}

.hide-xs, .hide-xs-inline {
    display: none;
}

@media (min-width: 30em) {
    .hide-xs {
        display: block;
    }

    .hide-xs-inline {
        display: inline;
    }

    .hide-sm, .hide-sm-inline {
        display: none;
    }
}

@media (min-width: 45em) {
    .hide-sm {
        display: block;
    }

    .hide-sm-inline {
        display: inline;
    }

    .hide-md, .hide-md-inline {
        display: none;
    }
}

@media (min-width: 60em) {
    .hide-md {
        display: block;
    }

    .hide-md-inline {
        display: inline;
    }

    .hide-lg, .hide-lg-inline {
        display: none;
    }
}

@media (min-width: 80em) {
    .hide-lg {
        display: block;
    }

    .hide-lg-inline {
        display: inline;
    }

    .hide-xl, .hide-xl-inline {
        display: none;
    }
}

.resetcoords {
    position: relative;
}

.freeflow {
    position: absolute;
}

.freeflow.flushleft {
    left: 0;
}

.freeflow.flushright {
    right: 0;
}

.freeflow.flushtop {
    top: 0;
}

.freeflow.flushbottom {
    bottom: 0;
}

.layer-base {
    z-index: 0;
}

.layer-one {
    z-index: 10;
}

.layer-two {
    z-index: 20;
}

.freeflow.fill {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
}

.freeflow.fill.center, .freeflow.fill > .center {
    margin: auto;
}

.aspect-2-3 {
    padding-bottom: 150% !important;
}

.aspect-3-4 {
    padding-bottom: 133.33333333% !important;
}

.aspect-8-9 {
    padding-bottom: 112.5% !important;
}

.aspect-square {
    padding-bottom: 100% !important;
}

.aspect-4-3 {
    padding-bottom: 75% !important;
}

.aspect-3-2 {
    padding-bottom: 66.66666667% !important;
}

.aspect-16-9 {
    padding-bottom: 56.25% !important;
}

.aspect-16-7 {
    padding-bottom: 43.75% !important;
}

.aspect-16-5 {
    padding-bottom: 31.25% !important;
}

@media (min-width: 30em) {
    .aspect-2-3-sm {
        padding-bottom: 150% !important;
    }

    .aspect-3-4-sm {
        padding-bottom: 133.33333333% !important;
    }

    .aspect-square-sm {
        padding-bottom: 100% !important;
    }

    .aspect-4-3-sm {
        padding-bottom: 75% !important;
    }

    .aspect-3-2-sm {
        padding-bottom: 66.66666667% !important;
    }

    .aspect-16-9-sm {
        padding-bottom: 56.25% !important;
    }

    .aspect-16-7-sm {
        padding-bottom: 43.75% !important;
    }
}

@media (min-width: 45em) {
    .aspect-2-3-md {
        padding-bottom: 150% !important;
    }

    .aspect-3-4-md {
        padding-bottom: 133.33333333% !important;
    }

    .aspect-square-md {
        padding-bottom: 100% !important;
    }

    .aspect-4-3-md {
        padding-bottom: 75% !important;
    }

    .aspect-3-2-md {
        padding-bottom: 66.66666667% !important;
    }

    .aspect-16-9-md {
        padding-bottom: 56.25% !important;
    }

    .aspect-16-7-md {
        padding-bottom: 43.75% !important;
    }
}

@media (min-width: 60em) {
    .aspect-2-3-lg {
        padding-bottom: 150% !important;
    }

    .aspect-3-4-lg {
        padding-bottom: 133.33333333% !important;
    }

    .aspect-square-lg {
        padding-bottom: 100% !important;
    }

    .aspect-4-3-lg {
        padding-bottom: 75% !important;
    }

    .aspect-3-2-lg {
        padding-bottom: 66.66666667% !important;
    }

    .aspect-16-9-lg {
        padding-bottom: 56.25% !important;
    }

    .aspect-16-7-lg {
        padding-bottom: 43.75% !important;
    }
}

@media (min-width: 80em) {
    .aspect-2-3-xl {
        padding-bottom: 150% !important;
    }

    .aspect-3-4-xl {
        padding-bottom: 133.33333333% !important;
    }

    .aspect-square-xl {
        padding-bottom: 100% !important;
    }

    .aspect-4-3-xl {
        padding-bottom: 75% !important;
    }

    .aspect-3-2-xl {
        padding-bottom: 66.66666667% !important;
    }

    .aspect-16-9-xl {
        padding-bottom: 56.25% !important;
    }

    .aspect-16-7-xl {
        padding-bottom: 43.75% !important;
    }
}

.occupy {
    display: block;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.center-block {
    margin-left: auto;
    margin-right: auto;
}

.right-block {
    margin-left: auto;
    margin-right: 0;
}

.left-block {
    margin-left: 0;
    margin-right: auto;
}

.truncate {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.nooverflow {
    overflow: hidden;
}

.forcewrap {
    word-wrap: break-word;
}

.contain-width img {
    max-width: 100%;
    height: auto;
}

.contain-height img {
    max-height: 100%;
    width: auto;
}

.background-contain, .background-fill {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}

.background-contain {
    background-size: contain;
}

.center-vertical {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.center-vertical-text {
    vertical-align: middle;
}

.embed-fluid {
    position: relative;
    overflow: hidden;
    height: 0;
}

.embed-fluid iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.has-js .js-hidden, .js-nonjs-hidden, .no-js .nonjs-hidden {
    display: none;
}

.no-js .nonjs-visible {
    display: block !important;
}

@media (min-width: 45em) {
    .mobile-only {
        display: none;
    }
}

.full {
    width: 100%
}

.eighty {
    width: 80%
}

.seventyfive, .threefourth {
    width: 75%
}

.seventy {
    width: 70%
}

.twothird {
    width: 66%;
    width: -webkit-calc(2 / 3 * 100%);
    width: calc(2 / 3 * 100%);
}

.sixty {
    width: 60%
}

.half {
    width: 50%
}

.almosthalf {
    width: 45%
}

.forty {
    width: 40%
}

.thirtyfive {
    width: 35%
}

.third {
    width: 33%;
    width: -webkit-calc(1 / 3 * 100%);
    width: calc(1 / 3 * 100%);
}

.thirty {
    width: 30%
}

.fourth, .quarter {
    width: 25%
}

.fifth {
    width: 20%
}

.sixth {
    width: 16%;
    width: -webkit-calc(1 / 6 * 100%);
    width: calc(1 / 6 * 100%);
}

.tenth {
    width: 10%
}

@media (min-width: 30em) {
    .full-sm {
        width: 100%
    }

    .eighty-sm {
        width: 80%
    }

    .seventyfive-sm, .threefourth-sm {
        width: 75%
    }

    .seventy-sm {
        width: 70%
    }

    .twothird-sm {
        width: 66%;
        width: -webkit-calc(2 / 3 * 100%);
        width: calc(2 / 3 * 100%);
    }

    .sixty-sm {
        width: 60%
    }

    .half-sm {
        width: 50%
    }

    .almosthalf-sm {
        width: 45%
    }

    .forty-sm {
        width: 40%
    }

    .thirtyfive-sm {
        width: 35%
    }

    .third-sm {
        width: 33%;
        width: -webkit-calc(1 / 3 * 100%);
        width: calc(1 / 3 * 100%);
    }

    .thirty-sm {
        width: 30%
    }

    .fourth-sm, .quarter-sm {
        width: 25%
    }

    .fifth-sm {
        width: 20%
    }

    .sixth-sm {
        width: 16%;
        width: -webkit-calc(1 / 6 * 100%);
        width: calc(1 / 6 * 100%);
    }

    .tenth-sm {
        width: 10%
    }
}

@media (min-width: 45em) {
    .full-md {
        width: 100%
    }

    .eighty-md {
        width: 80%
    }

    .seventyfive-md, .threefourth-md {
        width: 75%
    }

    .seventy-md {
        width: 70%
    }

    .twothird-md {
        width: 66%;
        width: -webkit-calc(2 / 3 * 100%);
        width: calc(2 / 3 * 100%);
    }

    .sixty-md {
        width: 60%
    }

    .half-md {
        width: 50%
    }

    .almosthalf-md {
        width: 45%
    }

    .forty-md {
        width: 40%
    }

    .thirtyfive-md {
        width: 35%
    }

    .third-md {
        width: 33%;
        width: -webkit-calc(1 / 3 * 100%);
        width: calc(1 / 3 * 100%);
    }

    .thirty-md {
        width: 30%
    }

    .fourth-md, .quarter-md {
        width: 25%
    }

    .fifth-md {
        width: 20%
    }

    .sixth-md {
        width: 16%;
        width: -webkit-calc(1 / 6 * 100%);
        width: calc(1 / 6 * 100%);
    }

    .tenth-md {
        width: 10%
    }
}

@media (min-width: 60em) {
    .full-lg {
        width: 100%
    }

    .eighty-lg {
        width: 80%
    }

    .seventyfive-lg, .threefourth-lg {
        width: 75%
    }

    .seventy-lg {
        width: 70%
    }

    .twothird-lg {
        width: 66%;
        width: -webkit-calc(2 / 3 * 100%);
        width: calc(2 / 3 * 100%);
    }

    .sixty-lg {
        width: 60%
    }

    .half-lg {
        width: 50%
    }

    .almosthalf-lg {
        width: 45%
    }

    .forty-lg {
        width: 40%
    }

    .thirtyfive-lg {
        width: 35%
    }

    .third-lg {
        width: 33%;
        width: -webkit-calc(1 / 3 * 100%);
        width: calc(1 / 3 * 100%);
    }

    .thirty-lg {
        width: 30%
    }

    .fourth-lg, .quarter-lg {
        width: 25%
    }

    .fifth-lg {
        width: 20%
    }

    .sixth-lg {
        width: 16%;
        width: -webkit-calc(1 / 6 * 100%);
        width: calc(1 / 6 * 100%);
    }

    .tenth-lg {
        width: 10%
    }
}

@media (min-width: 80em) {
    .full-xl {
        width: 100%
    }

    .eighty-xl {
        width: 80%
    }

    .seventyfive-xl, .threefourth-xl {
        width: 75%
    }

    .seventy-xl {
        width: 70%
    }

    .twothird-xl {
        width: 66%;
        width: -webkit-calc(2 / 3 * 100%);
        width: calc(2 / 3 * 100%);
    }

    .sixty-xl {
        width: 60%
    }

    .half-xl {
        width: 50%
    }

    .almosthalf-xl {
        width: 45%
    }

    .forty-xl {
        width: 40%
    }

    .thirtyfive-xl {
        width: 35%
    }

    .third-xl {
        width: 33%;
        width: -webkit-calc(1 / 3 * 100%);
        width: calc(1 / 3 * 100%);
    }

    .thirty-xl {
        width: 30%
    }

    .fourth-xl, .quarter-xl {
        width: 25%
    }

    .fifth-xl {
        width: 20%
    }

    .sixth-xl {
        width: 16%;
        width: -webkit-calc(1 / 6 * 100%);
        width: calc(1 / 6 * 100%);
    }

    .tenth-xl {
        width: 10%
    }
}

.landing-container {
    padding: 0 1rem;
}

@media (min-width: 30em) {
    .landing-container, .landing-container-sm {
        padding: 0.2rem 2rem;
    }

    .block-1of3, .block-1of4 {
        width: 50%
    }

    .block-1of2:nth-child(odd), .block-1of3:nth-child(odd), .block-1of4:nth-child(odd) {
        clear: both;
    }
}

@media (min-width: 45em) {
    .landing-container, .landing-container-md, .landing-container-sm {
        padding: 0.8rem 3rem;
    }

    .block-2of4 {
        width: 66%;
        width: -webkit-calc(66.66666667%);
        width: calc(66.66666667%);
    }

    .block-1of2, .block-2of3 {
        width: 50%
    }

    .block-1of4 {
        width: 33%;
        width: -webkit-calc(33.33333333%);
        width: calc(33.33333333%);
    }

    .block-1of4:nth-child(odd) {
        clear: none;
    }

    .block-1of4:nth-child(3n+1) {
        clear: both;
    }
}

@media (min-width: 60em) {
    .landing-container, .landing-container-lg, .landing-container-md, .landing-container-sm {
        padding: 1.1rem 4rem;
    }

    .block-3of4 {
        width: 75%
    }

    .block-2of3 {
        width: 66%;
        width: -webkit-calc(66.66666667%);
        width: calc(66.66666667%);
    }

    .block-2of4 {
        width: 50%
    }

    .block-1of3 {
        width: 33%;
        width: -webkit-calc(33.33333333%);
        width: calc(33.33333333%);
    }

    .block-1of4 {
        width: 25%
    }

    .block-1of3:nth-child(odd), .block-1of4:nth-child(3n+1) {
        clear: none;
    }

    .block-1of3:nth-child(3n+1), .block-1of4:nth-child(4n+1) {
        clear: both;
    }
}

@media (min-width: 80em) {
    .landing-container, .landing-container-lg, .landing-container-md, .landing-container-sm, .landing-container-xl {
        margin-left: auto;
        margin-right: auto;
        padding: 1.5rem 5rem;
        max-width: 90rem;
    }
}

.fluid {
    width: auto !important;
}

.stretch {
    width: 100% !important;
}

.width-fourteen {
    width: 14rem !important;
}

.width-twelve {
    width: 12rem !important;
}

.width-ten {
    width: 10rem !important;
}

.width-eight {
    width: 8rem !important;
}

.width-seven {
    width: 7rem !important;
}

.width-six {
    width: 6rem !important;
}

.width-five {
    width: 5rem !important;
}

.width-four {
    width: 4rem !important;
}

.width-three {
    width: 3rem !important;
}

.width-two {
    width: 2rem !important;
}

.width-one {
    width: 1rem !important;
}

.min-eight {
    min-width: 8rem;
}

.min-six {
    min-width: 6rem;
}

.min-two {
    min-width: 2rem;
}

.max-twelve {
    max-width: 12rem;
}

.max-full {
    max-width: 100%
}

.max-ninety {
    max-width: 90%
}

.max-eighty {
    max-width: 80%
}

.max-seventy {
    max-width: 70%
}

.max-sixty {
    max-width: 60%
}

.max-half {
    max-width: 50%
}

.max-fortyfive {
    max-width: 45%
}

.max-forty {
    max-width: 40%
}

.max-thirtyfive {
    max-width: 35%
}

.max-third {
    max-width: 30%
}

.max-fifth {
    max-width: 20%
}

.measure-4words {
    max-width: 12em;
}

.measure-6words {
    max-width: 18em;
}

.measure-8words {
    max-width: 24em;
}

.measure-10words {
    max-width: 32em;
}

.measure-12words {
    max-width: 36em;
}

.measure-14words {
    max-width: 42em;
}

.measure-16words {
    max-width: 48em;
}

.measure-22words {
    max-width: 66em;
}

.height-full-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.height-full {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 100% !important;
}

.max-height-full {
    max-height: 100%
}

.min-height-10l {
    min-height: 15em;
}

.height-10l {
    height: 15em;
}

.min-height-9l {
    min-height: 13.5em;
}

.height-9l {
    height: 13.5em;
}

.min-height-8l {
    min-height: 12em;
}

.height-8l {
    height: 12em;
}

.min-height-7l {
    min-height: 10.5em;
}

.height-7l {
    height: 10.5em;
}

.min-height-6l {
    min-height: 9em;
}

.height-6l {
    height: 9em;
}

.min-height-5l {
    min-height: 7.5em;
}

.height-5l {
    height: 7.5em;
}

.min-height-4l {
    min-height: 6em;
}

.height-4l {
    height: 6em;
}

.min-height-3l {
    min-height: 4.5em;
}

.height-3l {
    height: 4.5em;
}

.min-height-2l {
    min-height: 3em;
}

.height-2l {
    height: 3em;
}

.min-height-1l {
    min-height: 1.5em;
}

.height-1l {
    height: 1.5em;
}

.cols-five, .cols-four, .cols-two {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
}

@media (min-width: 30em) {
    .cols-five, .cols-four, .cols-two, .cols-two-sm {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 2rem;
        -moz-column-gap: 2rem;
        column-gap: 2rem;
    }

    .cols-five, .cols-four {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: .5rem;
        -moz-column-gap: .5rem;
        column-gap: .5rem;
    }
}

@media (min-width: 45em) {
    .cols-prose-three, .cols-prose-two, .cols-two-md, .cols-two-sm {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 3rem;
        -moz-column-gap: 3rem;
        column-gap: 3rem;
    }

    .cols-five, .cols-four, .cols-four-md {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
        -webkit-column-gap: .5rem;
        -moz-column-gap: .5rem;
        column-gap: .5rem;
    }
}

@media (min-width: 60em) {
    .cols-prose-three {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }

    .cols-four {
        -webkit-column-gap: 1.5rem;
        -moz-column-gap: 1.5rem;
        column-gap: 1.5rem;
    }

    .cols-five {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}

.colsspan {
    -webkit-column-span: all;
    -moz-column-span: all;
    column-span: all;
}

.nocolsgap {
    -webkit-column-gap: 0 !important;
    -moz-column-gap: 0 !important;
    column-gap: 0 !important;
}

.space-1e, .space-1e-top {
    margin-top: .125rem !important;
}

.space-1e, .space-1e-bottom {
    margin-bottom: .125rem !important;
}

.space-1q, .space-1q-top {
    margin-top: .25rem !important;
}

.space-1q, .space-1q-bottom {
    margin-bottom: .25rem !important;
}

.space-half, .space-half-top {
    margin-top: .5rem !important;
}

.space-half, .space-half-bottom {
    margin-bottom: .5rem !important;
}

.space-3q, .space-3q-top {
    margin-top: .75rem !important;
}

.space-3q, .space-3q-bottom {
    margin-bottom: .75rem !important;
}

.space-one, .space-one-top {
    margin-top: 1rem !important;
}

.space-one, .space-one-bottom {
    margin-bottom: 1rem !important;
}

.space-line, .space-line-top {
    margin-top: 1.5rem !important;
}

.space-line, .space-line-bottom {
    margin-bottom: 1.5rem !important;
}

.space-two, .space-two-top {
    margin-top: 2rem !important;
}

.space-two, .space-two-bottom {
    margin-bottom: 2rem !important;
}

.space-three, .space-three-top {
    margin-top: 3rem !important;
}

.space-three, .space-three-bottom {
    margin-bottom: 3rem !important;
}

.space-four, .space-four-top {
    margin-top: 4rem !important;
}

.space-four, .space-four-bottom {
    margin-bottom: 4rem !important;
}

.space-six, .space-six-top {
    margin-top: 6rem !important;
}

.space-six, .space-six-bottom {
    margin-bottom: 6rem !important;
}

.nospace, .nospace-top {
    margin-top: 0 !important;
}

.nospace, .nospace-bottom {
    margin-bottom: 0 !important;
}

.nspace-1e, .nspace-1e-top {
    margin-top: -.125rem !important;
}

.nspace-1e, .nspace-1e-bottom {
    margin-bottom: -.125rem !important;
}

.nspace-1q, .nspace-1q-top {
    margin-top: -.25rem !important;
}

.nspace-1q, .nspace-1q-bottom {
    margin-bottom: -.25rem !important;
}

.nspace-half, .nspace-half-top {
    margin-top: -.5rem !important;
}

.nspace-half, .nspace-half-bottom {
    margin-bottom: -.5rem !important;
}

.nspace-3q, .nspace-3q-top {
    margin-top: -.75rem !important;
}

.nspace-3q, .nspace-3q-bottom {
    margin-bottom: -.75rem !important;
}

.nspace-one, .nspace-one-top {
    margin-top: -1rem !important;
}

.nspace-one, .nspace-one-bottom {
    margin-bottom: -1rem !important;
}

.nspace-line, .nspace-line-top {
    margin-top: -1.5rem !important;
}

.nspace-line, .nspace-line-bottom {
    margin-bottom: -1.5rem !important;
}

.nspace-two, .nspace-two-top {
    margin-top: -2rem !important;
}

.nspace-two, .nspace-two-bottom {
    margin-bottom: -2rem !important;
}

.nspace-three, .nspace-three-top {
    margin-top: -3rem !important;
}

.nspace-three, .nspace-three-bottom {
    margin-bottom: -3rem !important;
}

.nspace-four, .nspace-four-top {
    margin-top: -4rem !important;
}

.nspace-four, .nspace-four-bottom {
    margin-bottom: -4rem !important;
}

.nspace-six, .nspace-six-top {
    margin-top: -6rem !important;
}

.nspace-six, .nspace-six-bottom {
    margin-bottom: -6rem !important;
}

.pad-1e, .pad-1e-left {
    padding-left: .125rem !important;
}

.pad-1e, .pad-1e-right {
    padding-right: .125rem !important;
}

.pad-1q, .pad-1q-left {
    padding-left: .25rem !important;
}

.pad-1q, .pad-1q-right {
    padding-right: .25rem !important;
}

.pad-half, .pad-half-left {
    padding-left: .5rem !important;
}

.pad-half, .pad-half-right {
    padding-right: .5rem !important;
}

.pad-3q, .pad-3q-left {
    padding-left: .75rem !important;
}

.pad-3q, .pad-3q-right {
    padding-right: .75rem !important;
}

.pad-one, .pad-one-left {
    padding-left: 1rem !important;
}

.pad-one, .pad-one-right {
    padding-right: 1rem !important;
}

.pad-line, .pad-line-left {
    padding-left: 1.5rem !important;
}

.pad-line, .pad-line-right {
    padding-right: 1.5rem !important;
}

.pad-two, .pad-two-left {
    padding-left: 2rem !important;
}

.pad-two, .pad-two-right {
    padding-right: 2rem !important;
}

.pad-three, .pad-three-left {
    padding-left: 3rem !important;
}

.pad-three, .pad-three-right {
    padding-right: 3rem !important;
}

.pad-four, .pad-four-left {
    padding-left: 4rem !important;
}

.pad-four, .pad-four-right {
    padding-right: 4rem !important;
}

.pad-six, .pad-six-left {
    padding-left: 6rem !important;
}

.pad-six, .pad-six-right {
    padding-right: 6rem !important;
}

.nopad, .nopad-left {
    padding-left: 0 !important;
}

.nopad, .nopad-right {
    padding-right: 0 !important;
}

.push-1e, .push-1e-top {
    padding-top: .125rem !important;
}

.push-1e, .push-1e-bottom {
    padding-bottom: .125rem !important;
}

.push-1q, .push-1q-top {
    padding-top: .25rem !important;
}

.push-1q, .push-1q-bottom {
    padding-bottom: .25rem !important;
}

.push-half, .push-half-top {
    padding-top: .5rem !important;
}

.push-half, .push-half-bottom {
    padding-bottom: .5rem !important;
}

.push-3q, .push-3q-top {
    padding-top: .75rem !important;
}

.push-3q, .push-3q-bottom {
    padding-bottom: .75rem !important;
}

.push-one, .push-one-top {
    padding-top: 1rem !important;
}

.push-one, .push-one-bottom {
    padding-bottom: 1rem !important;
}

.push-line, .push-line-top {
    padding-top: 1.5rem !important;
}

.push-line, .push-line-bottom {
    padding-bottom: 1.5rem !important;
}

.push-two, .push-two-top {
    padding-top: 2rem !important;
}

.push-two, .push-two-bottom {
    padding-bottom: 2rem !important;
}

.push-three, .push-three-top {
    padding-top: 3rem !important;
}

.push-three, .push-three-bottom {
    padding-bottom: 3rem !important;
}

.push-four, .push-four-top {
    padding-top: 4rem !important;
}

.push-four, .push-four-bottom {
    padding-bottom: 4rem !important;
}

.push-six, .push-six-top {
    padding-top: 6rem !important;
}

.push-six, .push-six-bottom {
    padding-bottom: 6rem !important;
}

.nopush, .nopush-top {
    padding-top: 0 !important;
}

.nopush, .nopush-bottom {
    padding-bottom: 0 !important;
}

.gap-1e, .gap-1e-left {
    margin-left: .125rem !important;
}

.gap-1e, .gap-1e-right {
    margin-right: .125rem !important;
}

.gap-1q, .gap-1q-left {
    margin-left: .25rem !important;
}

.gap-1q, .gap-1q-right {
    margin-right: .25rem !important;
}

.gap-half, .gap-half-left {
    margin-left: .5rem !important;
}

.gap-half, .gap-half-right {
    margin-right: .5rem !important;
}

.gap-3q, .gap-3q-left {
    margin-left: .75rem !important;
}

.gap-3q, .gap-3q-right {
    margin-right: .75rem !important;
}

.gap-one, .gap-one-left {
    margin-left: 1rem !important;
}

.gap-one, .gap-one-right {
    margin-right: 1rem !important;
}

.gap-line, .gap-line-left {
    margin-left: 1.5rem !important;
}

.gap-line, .gap-line-right {
    margin-right: 1.5rem !important;
}

.gap-two, .gap-two-left {
    margin-left: 2rem !important;
}

.gap-two, .gap-two-right {
    margin-right: 2rem !important;
}

.gap-three, .gap-three-left {
    margin-left: 3rem !important;
}

.gap-three, .gap-three-right {
    margin-right: 3rem !important;
}

.gap-four, .gap-four-left {
    margin-left: 4rem !important;
}

.gap-four, .gap-four-right {
    margin-right: 4rem !important;
}

.gap-six, .gap-six-left {
    margin-left: 6rem !important;
}

.gap-six, .gap-six-right {
    margin-right: 6rem !important;
}

.nogap, .nogap-left {
    margin-left: 0 !important;
}

.nogap, .nogap-right {
    margin-right: 0 !important;
}

.ngap-1e, .ngap-1e-left {
    margin-left: -.125rem !important;
}

.ngap-1e, .ngap-1e-right {
    margin-right: -.125rem !important;
}

.ngap-1q, .ngap-1q-left {
    margin-left: -.25rem !important;
}

.ngap-1q, .ngap-1q-right {
    margin-right: -.25rem !important;
}

.ngap-half, .ngap-half-left {
    margin-left: -.5rem !important;
}

.ngap-half, .ngap-half-right {
    margin-right: -.5rem !important;
}

.ngap-3q, .ngap-3q-left {
    margin-left: -.75rem !important;
}

.ngap-3q, .ngap-3q-right {
    margin-right: -.75rem !important;
}

.ngap-one, .ngap-one-left {
    margin-left: -1rem !important;
}

.ngap-one, .ngap-one-right {
    margin-right: -1rem !important;
}

.ngap-line, .ngap-line-left {
    margin-left: -1.5rem !important;
}

.ngap-line, .ngap-line-right {
    margin-right: -1.5rem !important;
}

.ngap-two, .ngap-two-left {
    margin-left: -2rem !important;
}

.ngap-two, .ngap-two-right {
    margin-right: -2rem !important;
}

.ngap-three, .ngap-three-left {
    margin-left: -3rem !important;
}

.ngap-three, .ngap-three-right {
    margin-right: -3rem !important;
}

.ngap-four, .ngap-four-left {
    margin-left: -4rem !important;
}

.ngap-four, .ngap-four-right {
    margin-right: -4rem !important;
}

.ngap-six, .ngap-six-left {
    margin-left: -6rem !important;
}

.ngap-six, .ngap-six-right {
    margin-right: -6rem !important;
}

@media (min-width: 30em) {
    .pad-1of3-sm {
        padding: 1rem 0 1rem 2rem !important;
    }

    .pad-2of3-sm {
        padding: 1rem 2rem !important;
    }
}

body {
    font-family: Gibson, Avenir, Helvetica Neue, Helvetica, sans-serif;
    line-height: 1.5;
    font-weight: 300;
}

.wf-active body {
    font-family: canada-type-gibson, Gibson, Avenir, Helvetica Neue, Helvetica, sans-serif;
}

.button, button, dt, h1, h2, h3, h4, input[type=button], input[type=submit], label, th {
    font-family: Gibson, Avenir Next, Avenir, Helvetica Neue, Helvetica, sans-serif;
    line-height: 1.3;
    font-weight: 600;
}

.wf-active .button, .wf-active button, .wf-active dt, .wf-active h1, .wf-active h2, .wf-active h3, .wf-active h4, .wf-active input[type=button], .wf-active input[type=submit], .wf-active label, .wf-active th {
    font-family: canada-type-gibson, Gibson, Avenir Next, Avenir, Helvetica Neue, Helvetica, sans-serif;
}

.prose-type {
    font-family: Gibson, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 300 !important;
}

.wf-active .prose-type {
    font-family: canada-type-gibson, Gibson, Avenir, Helvetica Neue, Helvetica, sans-serif;
}

.title-type {
    font-family: Gibson, Avenir Next, Avenir, Helvetica Neue, Helvetica, sans-serif;
}

.wf-active .title-type {
    font-family: canada-type-gibson, Gibson, Avenir Next, Avenir, Helvetica Neue, Helvetica, sans-serif;
}

.monospace, code, pre {
    font-family: Menlo, Monaco, Consolas, Bitstream Vera Sans Mono, monospace;
}

html {
    font-size: 16px;
    line-height: 1.5;
}

.title-huge {
    font-size: 2.527rem;
    line-height: 1.15;
}

.title-extralarge {
    font-size: 1.999rem;
    line-height: 1.3;
}

.title-large {
    font-size: 1.414rem;
    line-height: 1.3;
}

.title-regular {
    font-size: 1rem;
    line-height: 1.3;
}

.title-small {
    font-size: .707rem;
    line-height: 1.3;
}

.title-tiny {
    font-size: .5rem;
    line-height: 1.3;
}

.prose-large {
    font-size: 1.2rem;
    line-height: 1.5;
}

.prose-regular {
    font-size: 1rem;
    line-height: 1.5;
}

.prose-small {
    font-size: .833rem;
    line-height: 1.5;
}

.prose-tiny {
    font-size: .694rem;
    line-height: 1.5;
}

@media (min-width: 45em) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 80em) {
    html {
        font-size: 21px;
    }
}

.dense-leading {
    line-height: 1.15;
}

.prose-leading {
    line-height: 1.5;
}

.title-leading {
    line-height: 1.3;
}

.centered {
    text-align: center;
}

.right-aligned {
    text-align: right;
}

.left-aligned {
    text-align: left;
}

.ultrathin {
    font-weight: 100 !important;
}

.thin {
    font-weight: 300 !important;
}

.calm {
    font-weight: 400 !important;
}

.slightbold {
    font-weight: 500 !important;
}

.semibold {
    font-weight: 600 !important;
}

.bold {
    font-weight: 700 !important;
}

.heavy {
    font-weight: 800 !important;
}

.italic {
    font-style: italic;
}

.no-italic {
    font-style: normal;
}

.all-caps {
    text-transform: uppercase;
}

.all-lower {
    text-transform: lowercase;
}

.reset-caps {
    text-transform: none;
}

.strike {
    text-decoration: line-through;
}

.underline {
    text-decoration: underline;
}

.no-underline {
    text-decoration: none;
}

.letter-spaced {
    letter-spacing: .15em;
}

.quo {
    margin-left: -.24em;
}

.dquo {
    margin-left: -.44em;
}

.tquo {
    margin-left: -.68em;
}

.amp {
    font-family: 'Hoefler Text', Baskerville, Palatino, 'Book Antiqua', Constantia, 'URW Palladio L';
    font-style: italic;
    font-size: 1.2em;
    line-height: .5em;
}

.prose {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    text-rendering: optimizeLegibility;
}

.prose a {
    text-decoration: underline;
}

.prose a:not(:hover) {
    text-decoration: none;
    background-image: -webkit-linear-gradient(top, transparent 50%, rgba(0, 0, 0, .5) 50%);
    background-image: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, .5) 50%);
    background-size: 2px 2px;
    background-repeat: repeat-x;
    background-position: 0 97%
}

.prose a.no-underline {
    background-image: none;
}

.prose dl, .prose ol, .prose p, .prose ul {
    margin: 0 0 .75em;
}

.prose blockquote {
    font-size: .9em;
    font-style: italic;
    border-left: .1em solid;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0 1.5em;
}

.prose ol, .prose ul {
    padding-left: 1.5em;
}

.prose li {
    margin-bottom: .5em;
}

.prose li li {
    margin-left: .25em;
}

.prose ol {
    list-style-type: decimal;
}

.prose ul {
    list-style-type: disc;
}

.prose ul ul {
    list-style-type: circle;
}

.prose ol ol, .prose ol ul, .prose ul ol, .prose ul ul {
    margin-bottom: .75em;
}

.prose ol ol:last-child, .prose ol ul:last-child, .prose ul ol:last-child, .prose ul ul:last-child {
    margin-bottom: 0;
}

.prose abbr {
    font-size: .9em;
}

body {
    color: black;
    background-color: #eee;
}

h1, h2, h3 {
    color: #333;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
}

a:hover {
    text-decoration: none;
    color: #364A59;
}

a.green-hover:hover {
    text-decoration: none;
    background-color: rgba(39, 174, 96, .2);
}

a.underline-hover:hover {
    text-decoration: underline;
}

hr {
    display: block;
    clear: both;
    height: 0;
    margin: 0;
    padding: 0;
    border: none;
    border-top: 1px solid #333;
    border-top: 1px solid rgba(51, 51, 51, .1);
    border-bottom: 1px solid #eee;
    border-bottom: 1px solid rgba(238, 238, 238, .2);
}

.black {
    color: #333 !important;
}

.gray {
    color: grey !important;
}

.blue {
    color: #00f !important;
}

.purple {
    color: purple !important;
}

.red {
    color: #d35400 !important;
}

.yellow {
    color: #f1c40f !important;
}

.green {
    color: #27ae60 !important;
}

.silver {
    color: #ccc !important;
}

.white {
    color: #eee !important;
}

.fill-black {
    background-color: #333;
    color: #eee;
}

.fill-gray {
    background-color: #ededed;
}

.fill-blue {
    background-color: #00f;
}

.fill-purple {
    background-color: purple;
    color: #eee;
}

.fill-green {
    background-color: #27ae60;
    color: #eee;
}

.fill-red {
    background-color: #d35400;
    color: #eee;
}

.fill-silver {
    background-color: #ccc;
}

.fill-white {
    background-color: #eee;
    color: grey;
}

.fill-real-white {
    background-color: #fff;
    color: grey;
}

.nofill {
    background-color: transparent;
    color: inherit;
}

.lifted {
    box-shadow: rgba(0, 0, 0, .5) 0 0 .5rem;
}

.lined {
    border: 1px solid;
}

.lined-light {
    border: 1px solid #ccc;
}

.line-top {
    border-top: 1px solid;
}

.line-bottom {
    border-bottom: 1px solid;
}

.line-left {
    border-left: 1px solid;
}

.line-right {
    border-right: 1px solid;
}

.line-silver {
    border: 1px solid #ccc;
}

.line-top-silver {
    border-top: 1px solid #ccc;
}

.line-bottom-silver {
    border-bottom: 1px solid #ccc;
}

.line-left-silver {
    border-left: 1px solid #ccc;
}

.line-right-silver {
    border-right: 1px solid #ccc;
}

.noline {
    border: none;
}

@media print {
    * {
        background: 0 0 !important;
        color: #000 !important;
        text-shadow: none !important;
        -webkit-filter: none !important;
        filter: none !important;
        -ms-filter: none !important;
    }

    a, a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")"
    }

    abbr[title]:after {
        content: " (" attr(title) ")"
    }

    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
        content: ""
    }

    blockquote, pre {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    img, tr {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: .5cm;
    }

    h2, h3, p {
        orphans: 3;
        widows: 3;
    }

    h2, h3 {
        page-break-after: avoid;
    }
}

input[type="password"].landing, input[type="date"].landing, input[type="datetime"].landing, input[type="datetime-local.landing"], input[type="month"].landing, input[type="week"].landing, input[type="email"].landing, input[type="number"].landing, input[type="search"].landing, input[type="tel"].landing, input[type="time"].landing, input[type="url"].landing, textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    background-color: #edf4fa;
    font-family: inherit;
    border: 1px solid #a0bdd9;
    border-radius: 3px;
    box-shadow: inset -1px 1px 2px rgba(0, 0, 0, 0.12);
    color: #222;
    display: block;
    font-size: 0.9375rem;
    margin: 0 0 0.625rem 0;
    padding: 0.625rem;
    height: 2.8125rem;
    width: 100%;
    box-sizing: border-box;
}

.demo-button {
    cursor: pointer;
    font-family: "proxima-nova", "Helvetica Neue", HelveticaNeue, Helvetica, Roboto, SegoeUI, Arial, sans-serif;
    font-weight: 500;
    line-height: normal;
    margin: 0 0 1rem;
    position: relative;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    padding-right: 1.375rem;
    padding-top: 0.75rem;
    padding-bottom: 0.6875rem;
    padding-left: 1.375rem;
    font-size: 0.8rem;
    width: 100%;
    border-color: #d35400;
    color: #212326;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    -webkit-transition: background-color 250ms ease 0s;
    -moz-transition: background-color 250ms ease 0s;
    -ms-transition: background-color 250ms ease 0s;
    -o-transition: background-color 250ms ease 0s;
    transition: background-color 250ms ease 0s;
}

.customer-content .customer-list {
    display: block;
    padding: 0;
    margin: 0 -0.625rem;
}

.feature-list li {
    padding-bottom: 3px;
}

.div-center {
    margin: 0 auto;
}
