.transcriber {
  background: black;

  .content-container {
    padding: 1px 20px 1px 20px;
    border-radius: 10px;
    background: white;
  }
}

.invoice-status-marker {
  &.submitted {
    background-color: indianred;
  }

  &.extracted {
    background-color: darkgreen;
  }
  padding: 5px;
  color: white;
  opacity: 0.8;
}
